$color__main: #ffffff;
$color__second: #1d1e1e;
$color__second--hover: RGBA(29, 30, 30, 0.9);
$color__third: #efefef;

$color__border: #dddddd;

$color__shadow: #7b7b7b;

$color-gradient__main: #7adeff;
$color-gradient__second: #0086c0;

$btn-color__hover: #3ac0ef;
$btn-color__active: #3dc3f2;

$text-color__main: #1d1e1e;
$text-color__second: #ffffff;
$text-color__third: #4bd1fe;

$text-color__hover: #009ee2;

$desktop__width: 1170px;
$desktop__padding: 0 15px;

$transition: all 0.3s linear;